/* Cambiar el color del título principal */
#header h1 {
    color: #1a1a1a !important;  /* Azul oscuro */
}

/* Cambiar el color de los textos del admin */
body, .module caption, .module h2, th, td {
    color: #1a1a1a !important; /* Gris oscuro */
}

/* Cambiar color de enlaces */
a {
    color: #006699 !important;
}
