/* Cambiar el fondo del administrador */
body {
    background-color: #f0f8ff; /* Cambia este color por el que prefieras */
}

/* Puedes añadir más personalización como el color de fondo de los formularios */
.form-row {
    background-color: #e0e7ff; /* Otro color de fondo */
}

/* Personalizar los botones */
button, .submit-row button {
    background-color: #4CAF50; /* Verde */
    color: white;
}

button:hover, .submit-row button:hover {
    background-color: #45a049; /* Verde más oscuro */
}
