/* Estilo general de la página */
body {font-family: 'Arial', sans-serif;background-color: #f4f7fa;margin: 0; padding: 0;box-sizing: border-box;}
h1, h2, h3 {text-align: center;color: #333;margin-bottom: 20px;}
/* Contenedor principal */
.container {width: 100%;  max-width: 100%; margin: 0 auto;  padding: 2% 5%;  box-sizing: border-box; }
/* Estilo del contenido principal */
.content {flex-grow: 1;padding: 20px;text-align: center;}
.content h1 {font-size: 2rem;margin-bottom: 20px;}

/********************************************************* Estilo de la cabecera **************************************************/
header {background-color: #1f1f3e; color: white;  display: flex;  flex-direction: column; text-align: left; padding: 50px 20px; 
    position: relative;top: 0;width: 100%; font-size: 40px;}
header h1 {margin: 0;  font-size: 3rem;  background-color: #1f1f3e;}

/***************************************************** Estilo para los botones de la página *********************************************/
button {margin: 5px;padding: 10px 20px;background-color: #007BFF;color: white;border: none;border-radius: 4px;cursor: pointer;width: auto;}
button:hover {background-color: #0056b3;}

.toggle-button {background-color: #4CAF50; color: white; border: none; padding: 10px 20px; margin: 0 10px; cursor: pointer; border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; transition: background-color 0.3s;}
.toggle-button:hover {background-color: #45a049;}

/************************************************************* Estilo para las tablas **************************************************/
/* Estilo de los filtros */
select {width: 100%;padding: 10px;margin-bottom: 10px;border-radius: 4px;border: 1px solid #ccc;background-color: #f9f9f9;transition: border 0.3s ease;}
select:focus {border-color: #007BFF;outline: none;}

/* Habilitar desplazamiento horizontal solo en las tablas */
.dataTables_wrapper {overflow-x: auto; width: 100%; margin: 0 auto;}

/* Ajusta las tablas para que funcionen con el desplazamiento */
table {width: 100%; min-width: 1000px; border-collapse: collapse;margin: 20px 0;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);background-color: #fff;border-radius: 8px;}
th, td {padding: 12px;text-align: center;border-bottom: 1px solid #ddd;}
th {background-color: #007BFF;color: white;position: sticky;top: 0;z-index: 1;}
tr:hover {background-color: #f1f1f1;}

/* Paginación */
.pagination {display: flex;justify-content: center;margin-top: 20px;}

/* Contenedor para los filtros de búsqueda */
.search-container {display: flex;flex-wrap: wrap;justify-content: space-between;margin: 20px 0;}
.search-container input, .search-container select {margin-right: 10px;width: 150px;padding: 8px;}
#formulas-container {display: flex;justify-content: flex-start;gap: 20px;width: 100%;flex-wrap: wrap;}
#formulas-container > div {flex: 0 0 auto;min-width: 180px;text-align: center;padding: 10px;border: 10px solid #ccc;}
/* Estilos de los filtros en las tablas */
.filter-container {display: flex;flex-wrap: wrap;justify-content: space-between;margin-bottom: 20px;}
.filter-container select {width: 150px;padding: 8px;margin-right: 10px;font-size: 14px;}
.hidden {display: none;}

/* Estilos de los enlaces */
a {color: #007BFF;text-decoration: none;} a:hover {text-decoration: underline;}

.footer {background-image: linear-gradient(45deg, #000000, #434343); color: white;  text-align: center; padding: 20px;  
    position: fixed;bottom: 0;left: 0;  width: 100%; font-size: 1.5rem;}
.footer p {margin: 0; }

