{% load static %}
<!DOCTYPE html>
<html lang="es">

<head> {% include 'ProyectowebApp/head.html' %} </head>

<body>
    <div id="container">
    <header>
        <h1 class="ht">3. Criterio Investigación e innovación</h1>
        <h2 class="httitle">3.2. Subcriterio Contribución de la investigación a la carrera</h2>
        <hr>   
        <div>
            <button id="toggle-button" class="toggle-button">☰</button>
            <button id="IntroduccionCurriculo" class="toggle-button"> 
                <img src="/static/Img/abstract.png" alt="Ver Tablas" class="button-icon">Introducción
            </button>
            <button id="showPerfil" class="toggle-button"> 
                <img src="/static/Img/table.png" alt="Ver Tablas" class="button-icon">Peril de Egreso
            </button>
            <button id="showProyectoCurricular" class="toggle-button">
                <img src="/static/Img/chart.png" alt="Ver Tablas" class="button-icon">Proyecto Curricular
            </button>
            <button id="showMallaCurricular" class="toggle-button"> 
                <img src="/static/Img/analytics.png" alt="Ver Tablas" class="button-icon">Malla Curricular
            </button>
            <button id="ShowSyllabus" class="toggle-button"> 
                <img src="/static/Img/project.png" alt="Ver Tablas" class="button-icon">Syllabus
            </button>
            <button id="showMetodologiaAprendizaje" class="toggle-button">
                <img src="/static/Img/chart.png" alt="Ver Tablas" class="button-icon">Metodología y Recursos de Aprendizaje
            </button>
            <button id="showEscenarioPracticas" class="toggle-button"> 
                <img src="/static/Img/analytics.png" alt="Ver Tablas" class="button-icon">Escenarios de Prácticas Formativas
            </button>
            <button id="ShowTAC" class="toggle-button"> 
                <img src="/static/Img/project.png" alt="Ver Tablas" class="button-icon">TAC
            </button>
        </div>
    </header>
    {% include 'ProyectowebApp/slidebar.html' %}
    <script src="{% static 'Js\Secciones.js' %}"></script>
    <main>
        <title>Home - Personal Académico</title>
        <!-- Sección Introductoria -->
        <div id="IntroSection">

            <div class="contenedor-flex">
                <!-- Texto a la izquierda -->
                <div class="texto-izquierda">
                    <h4 class="justificado">
                        En este criterio se agrupan los indicadores y estándares relacionados
                        con el diseño y la gestión curricular a nivel del macro, meso y micro currículo
                        de la carrera; a través del cual se describe y sustenta la estructura académica
                        propuesta con sus elementos disciplinares fundamentales y complementarios necesarios para 
                        guiar el proceso de enseñanza aprendizaje del estudiante, en el marco de alcanzar los resultados 
                        de aprendizaje definidos en el diseño curricular.
                    </h4>
            
                    <h4 class="justificado">
                        Las políticas, procedimientos, estrategias de seguimiento y evaluación,
                        así como las acciones de mejora continua en los procesos de gestión del
                        currículo en la carrera se evalúa a través de los indicadores: Perfil de egreso;
                        Proyecto curricular; Malla curricular; Syllabus; Metodología y recursos
                        de aprendizaje; Escenarios de prácticas formativas; y, Tecnologías para el
                        aprendizaje y conocimiento (TAC), los cuales se describen a continuación:
                    </h4>
                </div>
            
                <!-- Imagen a la derecha -->
                <div class="imagen-derecha">
                    <img src="{% static 'Img/Curriculo.svg' %}" alt="Imagen Curriculo">
                </div>
            </div>
            
        </div>

        <div id="PerilEgresoSection" class="hidden">  
            <h1 class="ht2">Indicador 1. Perfil de egreso </h1>
            <hr>
            <h4>Tipo : Cualitativo</h4>
            <h4>
                Estándar:  <span style="color: #0071b7;">El perfil de egreso establece de manera clara y específica los
                    resultados de aprendizaje que el estudiante alcanzará al término de su proceso
                    formativo, en concordancia con el Modelo educativo, objeto de la carrera y
                    el perfil profesional. Orienta lo que sus graduados deben conocer, saber y
                    saber hacer; y ha sido elaborado de forma participativa con sus involucrados.
                    La instancia competente, con base en políticas y procedimientos definidos
                    realiza seguimiento y evaluación del cumplimiento del perfil de egreso, cuyos
                    resultados son considerados para las acciones de mejora continua de los
                    procesos involucrados.</span>
            </h4>
            <h4>Periodo de evaluación:  Los periodos académicos concluidos en los últimos dos
                años y seis meses previo al inicio del proceso de evaluación.</h4>
            <hr>
        </div>
        <div id="ProyectoCurricularSection" class="hidden"> 
            <p>Casa</p>
        </div>
        <div id="MallaCurricularSection" class="hidden"> 
        </div>
        <div id="SyllabusSection" class="hidden">
        </div>
        <div id="MetodologiaRecursosAprendizajeSection" class="hidden">
        </div>
        <div id="EscenariosPracticasFormativasSection" class="hidden">
        </div>
        <div id="TACSection" class="hidden">
        </div>
    </div>
    </main>

    {% include 'ProyectowebApp/Footer.html' %}
    
    </body>
</html>