{% load static %}
<!DOCTYPE html>
<html lang="es">
    
<head> {% include 'ProyectowebApp/head.html' %} </head>

    <body>
        <div id="container">
            <header>
                <h1 class="ht">2. Docencia</h1>
                <hr>
                <div>
                    <button id="toggle-button" class="toggle-button">☰</button>
                    <button id="Introduccion" class="toggle-button"> 
                </div>
            </header>
            {% include 'ProyectowebApp/slidebar.html' %}
            <main>
            <div>
                <div id="IntroSection">

                    <div style="text-align: center;">
                        <img src="/static/Img/Seccion3.png" alt="Imagen centrada" style="width: 55%; height: auto;">
                    </div>

                    <h4 class="justificado">
                        De acuerdo con Srinivasa et al., toda organización, incluidas las
                        instituciones de educación superior, deben tener una visión que establezca lo
                        que espera conseguir en el largo plazo y continuamente trabajar para lograr
                        estos objetivos (Srinivasa Rao, 2015).
                    </h4> 
                    
                    <h4 class="justificado">
                        Según la Asociación para el Avance Colegiado de las Escuelas de
                        Negocios (AACSB), la gestión estratégica cubre el rango entero de actividades
                        en la cual una unidad académica se compromete para cumplir su misión e
                        informa a la institución de educación superior acerca de su gestión y manejo
                        de recursos.
                    </h4> 

                    <h4 class="justificado">
                        Asimismo, otra premisa para la generación de este criterio es el ciclo de
                        Deming o PHVA y la gestión por procesos. El ciclo PDCA o PHVA (en español) no
                        es solamente una herramienta, es un concepto del proceso de mejoramiento
                        continuo que está inmerso en la cultura de una organización (Sokovic, 2010).
                        Consta de cuatro componentes denominados Planear (P), Hacer (H), Verificar
                        (V) y Actuar (A). El aspecto más importante del ciclo de Deming se encuentra
                        en la etapa de “Actuar”, ya que después de finalizar el ciclo, una nueva fase de
                        planificación hace que el mejoramiento continuo del sistema o proceso nunca
                        termine (sistema cíclico).
                    </h4> 

                    <h4 class="justificado">
                        En este marco, de acuerdo con las normas ISO 9001:2015, las diferentes
                        fases del ciclo PHVA se definen como:
                    </h4> 

                    <h4 class="justificado">
                        <li>Planificar: Establece los objetivos del sistema, de los procesos y de los
                        respectivos recursos para generar resultados enfocados en los requisitos
                        del cliente y las políticas de la organización.</li>
                        <li>Hacer: Realizar lo planificado.</li>
                        <li>Verificar: Realizar el seguimiento a la medición de los procesos, productos
                        y servicios resultantes respecto a las políticas, objetivos, requisitos,
                        actividades planificadas e informar los resultados.</li>
                        <li>Actuar: Tomar acciones para mejorar el desempeño cuando sea necesario.</li>
                    </h4> 

                    <h4 class="justificado">
                        Finalmente, según Kaur et al., un sistema de gestión estratégico es
                        un set de guías, progresiones y mediciones usadas por una organización para
                        certificar que puede llenar las tareas requeridas para cumplir sus objetivos
                        (Kaur, 2021).
                    </h4> 

                </div>

            </div>
        </main>

        {% include 'ProyectowebApp/Footer.html' %}
    
    </body>
</html>