{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'ProyectowebApp/head.html' %}
</head>

<body>
    <div id="container">
        <header>
            <h1 class="ht">3. Criterio Investigación e innovación</h1>
            <h2 class="httitle">3.2. Subcriterio Contribución de la investigación a la carrera</h2>
            <hr>   
            <div>
                <button id="toggle-button" class="toggle-button">☰</button>
                <button id="showGestionInvestigacionInovacion" class="toggle-button"> 
                    <img src="{% static 'Img/abstract.png' %}" alt="Ver Tablas" class="button-icon">Indicador 18
                </button>
            </div>
        </header>

        {% include 'ProyectowebApp/slidebar.html' %}

        <main>
            <title>Home - Personal Académico</title>
                
        </main>

        {% include 'ProyectowebApp/Footer.html' %}
    </div>

    <script src="{% static 'Js/Secciones.js' %}"></script>
</body>
</html>
