{% load static %}
<!DOCTYPE html>
<html lang="es">
    
<head> {% include 'ProyectowebApp/head.html' %} </head>

    <body>
        <div id="container">
            <header>
                <h1 class="ht">4. Vinculación con la Sociedad</h1>
                <hr>
                <div>
                    <button id="toggle-button" class="toggle-button">☰</button>
                    <button id="Introduccion" class="toggle-button"> 
                </div>
            </header>
            {% include 'ProyectowebApp/slidebar.html' %}
            <main>
            <div>
                <div id="IntroSection">

                    <div style="text-align: center;">
                        <img src="/static/Img/Seccion3.png" alt="Imagen centrada" style="width: 55%; height: auto;">
                    </div>

                    <h4 class="justificado">
                        Una función sustantiva, genera capacidades e intercambio de
                        conocimientos acorde a los dominios académicos de las IES para
                        garantizar la construcción de respuestas efectivas a las necesidades
                        y desafíos de su entorno. Contribuye con la pertinencia del quehacer
                        educativo, mejorando la calidad de vida, el medio ambiente, el desarrollo
                        productivo y la preservación, difusión y enriquecimiento de las
                        culturas y saberes, que se desarrolla mediante un conjunto de planes,
                        programas, proyectos e iniciativas de interés público, planificadas,
                        ejecutadas, monitoreadas y evaluadas de manera sistemática por
                        las IES, tales como: servicio comunitario, prestación de servicios
                        especializados, consultorías, educación continua, gestión de redes,
                        cooperación y desarrollo, difusión y distribución del saber; que permitan
                        la democratización del conocimiento y el desarrollo de la innovación
                        social (CES-RRA, 2022).
                    </h4>                 
                    <h4 class="justificado">
                        El Modelo de Evaluación Institucional 2019 también la define como:
                        El conjunto de actividades que garantizan la participación efectiva de
                        estudiantes y profesorado en acciones que contribuyan al mejoramiento
                        del entorno desde el ámbito académico e investigación, velando el
                        desarrollo y cumplimiento de la responsabilidad social universitarias,
                        creando competencias y conciencia social en sus involucrados. Estas
                        actividades generan intercambio de conocimientos y experiencias
                        garantizando la construcción de respuestas efectivas a las necesidades
                        y desafíos de su entorno. Además, contribuyen con la pertinencia del
                        quehacer universitario, mejorando la calidad de vida, el medio ambiente,
                        el desarrollo productivo y la preservación, difusión y enriquecimiento de
                        las culturas y saberes (CACES-MUEP, 2019). 
                    </h4>   
                    <h4 class="justificado">
                        La vinculación con la sociedad se desarrolla con el trabajo colaborativo
                        entre profesores, estudiantes y actores externos a las UEP, los cuales mediante
                        acciones, proyectos o programas de vinculación aportan soluciones a las
                        necesidades sociales del contexto donde se desarrolla la carrera. Desde la
                        perspectiva y ámbito de la formación del egresado, la vinculación permite
                        que estudiantes y profesores aporten desde su la experiencia hacia las
                        problemáticas del entorno (CNA-Chile, 2022). 
                    </h4>             
                </div>

            </div>
        </main>

        {% include 'ProyectowebApp/Footer.html' %}
    
    </body>
</html>