{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles_VistaP.css' %}">
    <title>Dribbble Clone</title>

</head>
<body>

<header>
    <div class="logo">Dribbble Clone</div>
    <nav>
        <a href="#">Find Talent</a>
        <a href="#">Inspiration</a>
        <a href="#">Go Pro</a>
        <a href="#">Sign Up</a>
    </nav>
</header>

<section class="main-banner">

    <h1>Modelo genérico para la evaluación del entorno de aprendizaje de carreras de grado</h1>

    <div class="categories">
        <a href="#">1. Curriculo</a>
        <a href="#">2. Docencia</a>
        <a href="{% url 'Indicador3' %}">3. Investigación e Innovación</a>
        <a href="#">4. Vinculación con la Sociedad</a>
        <a href="#">5. Funciones estratégicas y de soporte</a>
    </div>
    
    <p>Millions of designers and agencies showcase their work here. Discover, learn, and get inspired.</p>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button>Search</button>
    </div>
    
</section>

</body>
</html>
