{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles_VistaP.css' %}">
    <title>Evaluación del entorno de aprendizaje</title>

</head>
<body>

<header>
    <div class="logo">Dribbble Clone</div>
    <nav>
        <a href="#">Find Talent</a>
        <a href="#">Inspiration</a>
        <a href="#">Go Pro</a>
        <a href="#">Sign Up</a>
    </nav>
</header>
¿<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="#inicio">Curriculo</a></li>
        <li><a href="#portafolio">Docencia</a></li>
        <li><a href="{% url 'Indicador3' %}">Investigación e Innovación</a></li>
        <li><a href="#usuario">Vinculación con la Sociedad</a></li>
        <li><a href="#mas">Funciones estratégicas y de soporte</a></li>
    </ul>
</nav>


<section class="main-banner">

    <h1>Modelo genérico para la evaluación del entorno de aprendizaje de carreras de grado</h1>

    
    <p>Millions of designers and agencies showcase their work here. Discover, learn, and get inspired.</p>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button>Search</button>
    </div>
    
</section>

</body>
</html>
